* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #4a90e2;
  --secondary-color: #f5f5f5;
  --text-color: #333;
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  color: white;
  text-align: center;
}

.navMenu {
  background-color: var(--primary-color);
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
}

.navMenu ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.navMenu ul li a{
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 0.5s ease-in;
}

.navMenu ul li a:hover {
  color: var(--text-color);
}

.imgProfile {
  border: 2px solid #4a91e256;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  margin: 1rem;
  transition: transform 0.5s ease;
  box-shadow: 0 2px 6px rgb(0, 0, 0, 0.5);
}

.imgProfile:hover {
  transform: rotateY(360deg);
}

.textProfile {
  color: var(--text-color);
}

.textProfile h1 {
  margin-top: .5rem;
  margin-bottom: .25rem;
}

.sobre {
  background-color: var(--text-color);
  margin: 1rem 0 1rem 0;
  color: var(--secondary-color);
  width: 100%;
  padding: 3rem;
  text-align: center;
}

.sobre h2 {
  margin-bottom: .5rem;
}

.projetos {
  text-align: center;
  padding: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(165, 165, 165, 0.436);
  width: 22rem;
  height: 20rem;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0 3px 6px rgb(0, 0, 0, 0.6);
}

.containerProjetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  gap: 2rem;
}

.containerProjetos ul {
  list-style: none;
}

.tecnologias {
  background-color: var(--text-color);
  color: var(--secondary-color);
  padding: 3rem;
  text-align: center;
}

.tecnologias h2 {
  margin-bottom: .5rem;
}

.containerTec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerTec ul {
  display: flex;
  font-size: 2rem;
  margin-top: 1rem;
  list-style: none;
  gap: .5rem;
}
.containerTec ul li {
  transition: transform 0.5s ease;
}

.containerTec ul li:hover {
  transform: scale(2);
}

.html {
  color: orangered;
}

.css {
  color: #4a90e2;
}

.js {
  color: gold;
}

.react {
  color: aqua;
}

.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  color: var(--text-color);
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
  margin: 2rem 0 2rem 0;
}

input, textarea {
  padding: .8rem .5rem;
}

button {
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: .5rem;
  color: white;
}

button:hover {
  filter: brightness(0.8);
}

.contato p {
  font-weight: 600;
}

.contato ul {
  display: flex;
  font-size: 2rem;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
}

.linkedin {
  color: #4a90e2;
}

.gitHub {
  color: black;
}

.contato ul li{
  transition: transform 1s ease ;
}

.contato ul li:hover {
  transform: scale(2);
}

footer {
  background-color: var(--text-color);
  color: var(--secondary-color);
  padding: 1.5rem;
  text-align: center;
}

.nav-toggle {
  display: none;
  border-radius: 0;

}

@media (max-width: 600px) {
  .navMenu {
    overflow: hidden;
    position: absolute;
    top: -100%;
    max-height: 0;
    margin: 0;
    transition: max-height 0.4s ease;
  }

  .navMenu.open {
    position: relative;
    max-height: 300px;
    opacity: 1;
  }

  .navMenu ul {
    flex-direction: column;
    align-items: start;
  }

  .nav-toggle {
    display: block;
    text-align: start;
    font-size: 2rem;
    width: 100%;
  }

  form {
    width: 20rem;
  }

  button {
    margin: 0;
  }
}